a {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  overflow-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }

  &[target="_blank"]:not(.hide-icon):not(:has(img)) {
    margin-right: 2px;

    &::after {
      content: url(/icons/link.svg);
      margin-left: 2px;
    }
  }

  &.small {
    font-size: 16px;

    &[target="_blank"]:not(.hide-icon)::after {
      margin-top: 6px;
    }
  }
}
