h1,
h2,
h3 {
  line-height: 1.25;
  margin-bottom: 0;
  font-weight: 500;
  color: var(--header-text);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  scroll-margin-top: 12px;
}
