h1,
h2,
h3 {
  line-height: 1.25;
  margin-bottom: 0;
  font-weight: 500;
  color: var(--header-text);
}

h1 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  scroll-margin-top: 0.75rem;
}
