@import "partials/_headings";
@import "partials/_anchors";
@import "partials/_images";
@import "partials/_codeblocks";

:root {
  --normal-text: #383d44;
  --faded-text: #9c9ea0;
  --header-text: #1c2327;
  --link-color: #308ddf;
  --border-color: #c7c7c7;
  --bg-color: #f9f9f9;
  --code-default-color: #d4d4d4;
  --code-selection-color: #eeeeee;
  --code-bg-color: #1e1e1e;
  --code-selection-bg-color: #6d6d6d;
  --label-text-color: #6e6e6e;
  --label-bg-color: #efefef;
}

body {
  margin: 1rem 1rem 2rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
  color: var(--normal-text);
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #c9e2f7;
  color: var(--normal-text);
}

blockquote {
  margin-left: 2rem;
  font-style: italic;
  padding: 0.5rem;
  border-left: 3px solid var(--border-color);
  background-color: var(--bg-color);

  p {
    margin: 0.5rem;
  }

  @media screen and (max-width: 720px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media screen and (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.mb-15 {
  margin-bottom: 1.5rem;
}

/* Source: https://avexdesigns.com/blog/responsive-youtube-embed */
.responsive-youtube-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 1rem auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
