.component {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .title {
    font-size: 1.5rem;
    font-weight: 500;

    a {
      color: initial;
      text-decoration: none;
    }
  }
}
