.component {
  margin-top: 1rem;
}

.post {
  display: flex;
  align-items: center;
}

.date,
.label {
  flex-shrink: 0;
  margin-right: 15px;
}

.label {
  width: 85px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .post {
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    order: 2;
    margin: 2px 0;
  }

  .date {
    order: 3;
    margin: 0;
  }
}
