.component {
  display: flex;
  padding: 25px 0;
}

.description {
  width: 100%;

  .title {
    margin-top: 0;
  }

  .year {
    color: var(--faded-text);
  }
}

.cover {
  width: 150px;
  align-self: start;
  margin-left: 5px;
}
