.component {
  display: flex;
  align-items: flex-start;
  margin-top: 25px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
}

.author {
  color: var(--faded-text);
}

.cover {
  width: 80px;
  border: 1px solid var(--border-color);
}

@media screen and (max-width: 600px) {
  .component {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .cover {
    margin: 1rem auto;
  }
}
